$color-prime: rgb(3, 255, 213);
$color-tile-0: rgba(238, 228, 218, 0.35);
$color-tile-2: #fad5a2;
$color-tile-4: #ffb855;
$color-tile-8: #ff9705;
$color-tile-16: #ff7605;
$color-tile-32: #ff7605;
$color-tile-64: #ff5100;
$color-tile-128: #ec3a03;
$color-tile-256:#ff0000ce;
$color-tile-512: #ff0080;
$color-tile-1024: #6200ff;
$color-tile-2048: #ea00ff;

$color-tile-text-dark: black;
$color-tile-text-light: white;

$color-board-background: #776e65;
